@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Inter, sans-serif;
    overflow-x: hidden;
}

/* HEADER */

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 3%;
}

.header-left{
    display: flex;
    align-items: center;
    gap: 50px;
}

.logo-image{
    width: 70px;
}

/* NAVBAR */

.header-nav-list{
    display: flex;
    list-style: none;
    gap: 30px;
    margin-left: 40px;
}

.header-nav-link{
    display: inline-block;
    text-decoration: none;
    color: #081C15;
    font-size: 13pt;
    letter-spacing: 2px;
    transition:
        color 0.3s ease-in-out,
        transform 0.2s ease;
}

.header-nav-link:hover{
    color: #004B23;
    transform: scale(1.02);
}

/* BUTTONS */

.header-actions{
    display: flex;
    align-items: center;
    gap: 15px;
}

#register-button{
    letter-spacing: 1px;
    font-size: 13pt;
    font-weight: 600;
    padding: 12px 24px;
    border: none;
    border-radius: 20px;
    background: none;
    color: #004B23;
    cursor: pointer;
    transition:
        opacity 0.3s ease-in-out,
        transform 0.2s ease;
}

#login-button{
    letter-spacing: 1.5px;
    font-size: 13pt;
    font-weight: 600;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background-color: #004B23;
    color: #FFFFFF;
    cursor: pointer;
    transition:
        opacity 0.3s ease-in-out,
        transform 0.2s ease;
}

#register-button:hover,
#login-button:hover{
    opacity: 0.9;
    transform: scale(1.02);
}


.header,
.header *{
    font-family: 'Inter', sans-serif;
    line-height: normal;
    box-sizing: border-box;
}

.header ul{
    margin: 0;
    padding: 0;
}

.header a{
    text-decoration: none;
    color: #081C15;
}

.header button{
    font-family: 'Inter', sans-serif;
    border: none;
}

.header img{
    display: block;
}